.tx-black {
  font-family: "MavenPro-Black", "Maven Pro Black";
}

.tx-bold {
  font-family: "MavenPro-Bold", "Maven Pro Bold";
}

.tx-medium {
  font-family: "MavenPro-Medium", "Maven Pro Medium";
}

.tx-regular {
  font-family: "MavenPro-Regular", "Maven Pro Regular";
}
