.tx-black {
  font-family: "MavenPro-Black", "Maven Pro Black";
}

.tx-bold {
  font-family: "MavenPro-Bold", "Maven Pro Bold";
  font-weight: bold;
}

.tx-medium {
  font-family: "MavenPro-Medium", "Maven Pro Medium";
}

.tx-regular {
  font-family: "MavenPro-Regular", "Maven Pro Regular";
}

.tx-primary {
  color: #2e7d32;
}

.bg-success {
  background-color: rgb(102, 207, 132);
}

.bg-info {
  background-color: rgb(100, 181, 246);
}

.bg-warn {
  background-color: rgb(255, 173, 148);
}

.bg-disabled {
  background-color: rgb(179, 179, 179);
}

MDButton {
  font-weight: bold;
}